/* ==============
   GENERAL STYLES
   ============== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

/* =============
   HEADER STYLES
   ============= */
nav ul {
  background-color: #312332;
  text-align: center;
}

nav li {
  font-family: 'Lora', sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 3rem;
  border-bottom: 1px solid #413136;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background: rgba(255,255,255,.25);
  transition: background-color .3s ease-in-out;
}

@media (min-width: 600px) {
  nav li {
    display: inline-block;
    border-bottom: none;
    width: 7.5rem;
    text-align: center;
  
  }
  nav ul {
    text-align: right;
    padding-right: 5rem;
  }
}











