/* =========
   VARIABLES
   ========= */

:root {
	--primary-font-color:      #312332;
	--secondary-font-color:    #413136;
	--light-font-color:        rgba(178,172,186,1);
}



/* ==============
   GENERAL STYLES
   ============== */
* {
  box-sizing:                border-box;
}

html {
  height:                    100%;
}

body {
  margin:                    0;
  font-family:               'Merriweather', serif;
}

img {
  max-width:                 100%;
}

a {
	color:                     var(--primary-font-color);
}

h2 {
  font-family:               'Great Vibes', serif;
  font-size:                 1.5rem;
  color:                     var(--secondary-font-color);
  margin:                    20px 0 10px 0;
}

h3 {
	letter-spacing:            .05rem;
	color:                     var(--light-font-color);
  font-size:                 .7rem;
  padding:                   10px;
}

p {
  font-size:                 .85rem;
  margin:                    10px 0 25px 0;
}


/* =============
   HEADER STYLES
   ============= */

.header {
	text-align:                center;
}

h1 {
	margin-top:                20px;
	padding:                   30px;
	font-family:               'Great Vibes', serif;
	font-size:                 3.8rem;
	color:                     var(--secondary-font-color);
}


/* =================
   NAVIGATION STYLES
   ================= */

.navigation {
	max-width:                 1111px;
	margin:                    0 auto;
}

nav ul {
  text-align:                center;
}

nav li {
  font-family:               'Lora', sans-serif;
  font-size:                 .9rem;
  line-height:               3rem;
  height:                    3rem;
}

nav a {
  text-decoration:           none;
  color:                     var(--primary-font-color);
  display:                   block;
}

	
@media (min-width: 768px) {
  nav a:hover {
		padding-bottom:          -7.5px;
    border-bottom:           2.5px solid var(--light-font-color);
    transition:              border-bottom .3s easi-in-out;
  }
}

@media (min-width: 600px) {
  nav li {
    display:                 inline-block;
    border-bottom:           none;
    width:                   6.5rem;
    text-align:              center;
  
  }
  nav ul {
    text-align:              left;
    padding-left:            3rem;
  }
}



/* ==============
   CONTENT STYLES
   ============== */

.wrapper {
  max-width:                 1111px;
  margin:                    0 auto;
}

.content {
  display:                   flex;
  flex-wrap:                 wrap;
  align-items:               stretch;
  color:                     var(--secondary-font-color);
}

@media (min-width: 768px) {
  .content {
    flex-wrap:               nowrap;
  }
}


/* ==============
   MAIN STYLES
   ============== */

.main {
  order:                     1;
  flex-basis:                100%;
  padding:                   20px;
  line-height:               1.5rem;
  letter-spacing:            .02rem;
}

@media (min-width: 768px) {
	.main {
		flex-basis:              75vw;
		padding:                 10px 20px 20px 50px;
	}
}

.main li {
  padding-bottom:            10px;
}



.demo {
	width:                     100%;
	height:                    200px;
	margin:                    20px 0;
}

.demo_text_box {
	width:                     100%;
	height:                    200px;
	padding:                   20px;
}

.demo_text_box h2 {
	margin:                    0;
}

@media (min-width: 922px) {
	.demo_wrapper {
		display:                 flex;
		flex-direction:          row;
	}
	.demo_wrapper_row_reverse {
		flex-direction:          row-reverse;
	}
	.demo_text_box {
		margin:                  20px 0;
	}
}

.button {
  display:                   inline-block;
  width:                     7rem;
	font-size:                 .7rem;
  padding:                   .05rem 0;
  border:                    2px solid var(--primary-font-color);
  border-radius:             1.786rem;
  text-align:                center;
	text-decoration:           none;
}

.button:hover {
	color:                     #fff;
	background-color:          var(--primary-font-color);
	
}


/* ==============
   SLIDER STYLES
   ============== */

table {
  margin-top:                20px;
}

td {
  text-align:                left;
  vertical-align:            middle;
}
}

.icon {
  max-width:                 16px;
  max-height:                16px;
}

.profile {
  order:                     2;
  flex-basis:                100%;
  padding:                   0 20px 20px 20px;
}

@media (min-width: 768px) {
	.profile {
		flex-basis:              25vw;
	}
}

.profile-card {
  display:                   flex;
  flex-direction:            column;
  align-items:               center;
	margin-top:                -2rem;
}

.profile-photo-wrap {
  width:                     150px;
  height:                    150px;
  padding:                   10px;
}

.profile-photo {
  border:                    5px;
  border-color:              var(--primary-font-color);
  border-radius:             50%;
}



.links {
  display:                   block;
}

.link {
  text-decoration:           none;
  display:                   inline-block;
  color:                     var(--primary-font-color);
  padding:                   10px;
}


/* =============
   FOOTER STYLES
   ============= */

.footer-wrap {
  background-color:          var(--primary-font-color);
  font-family:               'Lora', serif;
  display:                   block;
  color:                     #fff;
  padding:                   15px;
  text-align:                center;
  
}

footer a {
  text-decoration:           none;
  color:                     #fff;
  display:                   inline-block;
  padding:                   5px 30px;
  font-size:                 .7rem;
}

